<%# app/views/pages/scanner.html.erb %>
<%= render 'shared/sidebar', current_page: 'scanner' %>
<div style="padding: 40px 84px; color: #64748b; font-family: monospace;">
  // scanner coming soon
</div>